/Lab_2/nbproject/private/
/Lab_2/build/
/Homework_2/nbproject/private/
/Homework2/nbproject/private/
/HYwrk2/nbproject/private/
/Hwrk_2/nbproject/private/
/Hwrk_2/build/
/Hwrk_2/dist/
/Homework_3/nbproject/private/
/Homework_3/build/
/Homework_3/dist/
/Lab_3/nbproject/private/
/Homework_4/nbproject/private/
/Homework_4/build/
/Homework_4 final/build/
/Homework_4 final/nbproject/private/